body{
    font-family: "Pixelify Sans", sans-serif;
    background-color: #94cd5a;
    padding: 30px;
    color: #000000;
    font-size: larger;
}

.formulario{
    background: #0f5913;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario input{
    padding: 12px;
    border: 1px solid #cad183;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Pixelify Sans", sans-serif;
}

.formulario button{
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #cad183;
    color: #0f5913;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Pixelify Sans", sans-serif;
}

.formulario button:hover{
    background: #0f5913;
    color: #cad183;
}

#contenedorCards{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card{
    width: 300px;
    background-color: #0f5913;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}

.card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.content{
    padding: 15px;
}

.content h2{
    margin-bottom: 10px;
    color: #0f5913;
    text-align: center;
    background-color: #cad183;
    margin-top: 10px;
}

.content p{
    font-family: "Pixelify Sans", sans-serif;
    color: #ffffff;
    margin-bottom: 15px;
    text-align: center;
}

.precio{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #cad183;
    margin-bottom: 15px;
    text-align: center;
}

.card button{
    width: 100%;
    padding: 10px;
    border: none;
    background: #cad183;
    color: #0f5913;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Pixelify Sans", sans-serif;
    font-size: larger;
}

h1{
    text-align: center;
}

.card button:hover{
    background: #ffd83d;
    color: #cad183;
}